{#
There we write good comments for variable.
  Available variables:
    variable1 - it's for ... contains something...
    variable2 - use this var for ...
#}

<div>
  <p>Variable 1: {{ variable1 }}</p>
  <p>Variable 2: {{ variable2 }}</p>
</div>
